@import "../../../styles.scss";

.creational-length {
  @include formInput(3.125rem, $inputFont, 1.25rem, $w);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .input {
    width: $inputWidth;
    max-height: 43.75rem;
    border: none;

    &:focus {
      border: 1px solid green;
    }
  }

  .icon-button {
    @include font(0.938rem);
  }
}
