@import "variables";
@import "animations";

.main-screen-block {
  /* for PokemonApp */
  @include screen;
  background: $p;

  .first-child-block {
    @include screen;
    .happy-birthday-block {
      height: 300px;
      width: 0; //325px
      background-image: url("../img/HappyBirthday.png");
      background-position: center;
      background-size: cover;
      transition: 0.9s;
      -o-transition: 0.9s;
      -moz-transition: 0.9s;
      -webkit-transition: 0.9s;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }

    .continue-block {
      .continue-txt {
        font-size: 20px;
        font-family: $Pangolin;
        cursor: pointer;
        opacity: 0;
        text-decoration: none;
        color: white;
      }
    }
  }
}

//animations
.loading-main-block {
  animation: loading 1s linear 1;
}

.loading-happy-birthday {
  animation: happyLoad 1s linear 1;
}

.loading-continue-block {
  animation: Continue 1s linear 1;
}

//reverse
.loading-main-reverse {
  animation: loading 1s linear 1 reverse;
}

.loading-happy-reverse {
  animation: happyLoad 1s linear 1 reverse;
}

.loading-continue-reverse {
  animation: Continue 1s linear 1 reverse;
}
