@import "variables";
@import "animations";

.your-day-block {
  @include screen;
  background-image: url("../img/pollo.jpg");
  background-position: center;
  background-size: cover;

  .happy-birthday-to-you-owl {
    width: 60%;
    height: 85%;
    background: white;
    opacity: 0.8;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation: fly 5s ease-out infinite;

    .text-view-block {
      font-size: 35px;
      cursor: pointer;
      margin-left: 5px;
      font-family: $Rcondensed;
      // white-space: nowrap;
      // overflow: hidden;
      text-indent: 25px;
      width: 106ch;
      animation: print 8s steps(106);
    }
  }
}

.happy-birthday-message {
  animation: message 2s linear 1;
}
