@import "../../styles.scss";

.main-notification-block {
  @include iconBlock(9.37rem, 31.25rem, 0, $b);

  .text-notification-block {
    @include iconBlock($three_handred_px, 31.25rem, 0, none);
    @include display(flex, none, center, center);

    &__text {
      @include font($font20);
      color: $w;
    }
  }

  .img-notification-block {
    @include iconBlock($chooseHeight, 31.25rem, 0, none);

    &__img {
      max-height: $in;
      max-width: $in;
    }
  }
}
