<div class="input-main-block">
  <div class="input-number-block">
    <div>
      <input
        type="number"
        placeholder="Введите любое число"
        name="number"
        value=""
        class="input-number"
        [(ngModel)]="num"
      />
    </div>

    <button class="clear-input" [disabled]="num === 0" (click)="clearInput()">
      <fa-icon class="times" [icon]="times"></fa-icon>
    </button>
  </div>

  <div class="number-block">
    <span class="number-from-input" [ngClass]="{ clearTxt: clear }">{{
      num
    }}</span>
  </div>

  <button
    class="input-button"
    (click)="GetAnswer()"
    [ngClass]="{ getAnswers: check }"
    [disabled]="num === 0"
  >
    <span class="input-txt">Отгадать</span>
  </button>
</div>
