@import "../../../styles.scss";

.creational-name {
  @include formInput(3.125rem, $font30, 1.25rem, $w);
  @include display(flex, none, space-between, center);

  .input {
    width: $inputWidth;
    max-height: 3.125rem; //43.75rem

    &:focus {
      border: 1px solid green;
    }
  }
}
