@import "variables";
@import "animations.scss";

.your-day-block {
  @include screen;
  background: $p;

  .text-view-block {
    height: 200px;
    display: inline;
    max-width: 100vw;
  }

  .controllBtn {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    -webkit-transition: 0.8s;

    .iconBtn {
      font-size: 25px;
      color: black;
    }

    &:active {
      transform: scale(0.9);
      box-shadow: 0 0 20px white;
    }
  }
}
