/*Pangolin && RobotoCondense*/
@import url("https://fonts.googleapis.com/css2?family=Pangolin&family=Roboto+Condensed:ital@1&display=swap");

$Pangolin: "Pangolin", cursive;
$Rcondensed: "Roboto Condensed", sans-serif;
$p: pink;
$h: 100%;
$w: 100%;

@mixin screen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
